body {
  background-color: #100e17;
  font-family: 'Open Sans', sans-serif;
}

.container {
  position: absolute;
  height: 300px;
  width: 1000px;
  top: 25%;
  left: calc(40% - 300px);
  display: flex;
  bottom:50%;

}

.card1 {
  display: flex;
  height: 380px;
  width: 1800px;
  background-color: #17141d;
  background-image:url("https://res.cloudinary.com/djntccokk/image/upload/v1659411569/0_3C6CUn1FEC_raM8c_wmvski.jpg");
    background-size: 300px 300px;
  border-radius: 10px;
  box-shadow: -1rem 0 3rem #000;
/*   margin-left: -50px; */
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
}
.card2
{
  display: flex;
  height: 380px;
  width: 1800px;
  background-color: #17141d;
  background-image:url("  https://res.cloudinary.com/djntccokk/image/upload/v1659415686/amazon-prime-video-1024x576_xhe5mv.png");
    background-size: 300px 300px;
  border-radius: 10px;
  box-shadow: -1rem 0 3rem #000;
/*   margin-left: -50px; */
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
}
.card3
{
  display: flex;
   height: 380px;
  width: 1800px;
  background-color: #17141d;
    background-image:url("https://res.cloudinary.com/djntccokk/image/upload/v1659416094/1627543919_disney_hotstar_plus-1200x800_p290sw.jpg");
    background-size: 300px 300px;
  border-radius: 10px;
  box-shadow: -1rem 0 3rem #000;
/*   margin-left: -50px; */
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
}
  .card4
  {
  height: 380px;
  width: 1800px;
  background-color: #17141d;
  background-image:url("https://res.cloudinary.com/djntccokk/image/upload/v1659415856/images_28_ibmt0l.jpg");
    background-size: 300px 300px;
  border-radius: 10px;
  box-shadow: -1rem 0 3rem #000;
/*   margin-left: -50px; */
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
}
  

.card1:not(:first-child) {
    margin-left: -50px;
}
.card2:not(:first-child) {
    margin-left: -50px;
}

.card3:not(:first-child) {
    margin-left: -50px;
}

.card4:not(:first-child) {
    margin-left: -50px;
}


.card1:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

.card2:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

.card3:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}


.card4:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}


.card1:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}
.card2:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

.card3:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

.card4:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}


.card1:hover ~ .card1 {
  position: relative;
  left: 50px;
  transition: 0.4s ease-out;
}

.card2:hover ~ .card2{
  position: relative;
  left: 50px;
  transition: 0.4s ease-out;
}

.card3:hover ~ .card3{
  position: relative;
  left: 50px;
  transition: 0.4s ease-out;
}

.card4:hover ~ .card4{
  position: relative;
  left: 50px;
  transition: 0.4s ease-out;
}

.title {
  color: white;
  font-weight: 300;
  position: absolute;
  left: 20px;
  top: 15px;
}

.bar {
  position: absolute;
  top: 100px;
  left: 20px;
  height: 5px;
  width: 150px;
}

.emptybar {
  background-color: #2e3033;
  width: 100%;
  height: 100%;
}

.card1 .filledbar {
  position: absolute;
  top: 0px;
  z-index: 3;
  width: 0px;
  height: 100%;
  background: rgb(0,154,217);
  background:red;
  transition: 0.6s ease-out;
}
.card2 .filledbar {
  position: absolute;
  top: 0px;
  z-index: 3;
  width: 0px;
  height: 100%;
  background: rgb(0,154,217);
  background:#00A8E1;
  transition: 0.6s ease-out;
}                                       

.card3 .filledbar {
  position: absolute;
  top: 0px;
  z-index: 3;
  width: 0px;
  height: 100%;
  background: rgb(0,154,217);
  background: #153866;
  transition: 0.6s ease-out;
}    
.card4 .filledbar {
  position: absolute;
  top: 0px;
  z-index: 3;
  width: 0px;
  height: 100%;
  background: rgb(0,154,217);
  background:#1DB954;
  transition: 0.6s ease-out;
}    

.card1 :hover .filledbar {
  width: 120px;
  transition: 0.4s ease-out;
  }
  
 .card2:hover .filledbar {
  width: 120px;
  transition: 0.4s ease-out;
  }
  .card3:hover .filledbar {
  width: 120px;
    transition: 0.4s ease-out;
    }
  .card4 :hover .filledbar {
  width: 120px;
  transition: 0.4s ease-out;
  
}


.card1:hover .stroke {
  stroke-dashoffset: 100;
  transition: 0.6s ease-out;
}

.card2:hover .stroke {
  stroke-dashoffset: 100;
  transition: 0.6s ease-out;
}

.card3:hover .stroke {
  stroke-dashoffset: 100;
  transition: 0.6s ease-out;
}

.card4:hover .stroke {
  stroke-dashoffset: 100;
  transition: 0.6s ease-out;
}
